<form action="/vehicles/<%= @vehicle.id%>" method="post">

  <label for="make"><p>MAKE:</p></label>
  <input type="text" id="make" name="make" value="<%=@vehicle.make%>"required>
  <label for="model"><p>MODEL:</p></label>
  <input type="text" id="model" name="model"value="<%=@vehicle.model%>"required>
  <label for="colour"><p>COLOUR:</p></label>
  <input type="text" id="colour" name="colour"value="<%=@vehicle.colour%>"required>
  <label for="seat_capacity"><p>SEAT CAPACITY:</p></label>
  <input type="text" id="seat_capacity" name="seat_capacity"value="<%=@vehicle.seat_capacity%>"required>
  <label for="fuel_type"><p>SELET FUEL TYPE:</p></label>
  <select name="fuel_type" id="fuel_type">
    <option value="petrol"><p>PETROL</p></option>
    <option value="diesel"><p>DIESEL</p></option>
  </select>
  <label for="daily_price"><p>DAILY PRICE:</p></label>
  <input type="text" id="daily_price" name="daily_price"value="<%=@vehicle.daily_price%>"required>
  <label for="available_stock"><p>AVAILABLE STOCK:</p></label>
  <input type="text" name="available_stock"value="<%=@vehicle.available_stock%>"required>
  <input type="submit" value="UPDATE STOCK">

</form>
