<h1>Customer Information</h1>

<ul>



  <li>First Name  ::  <%= @rental.customer.first_name %></li>
   <br>
  <li>Last Name  ::   <%= @rental.customer.last_name %></li>
   <br>
  <li>Country    ::   <%= @rental.customer.country %></li>
  <br>
  <li>City       ::  <%= @rental.customer.city %></li>
  <br>
  <li>Age     ::   <%= @rental.customer.age %></li>



 </ul>
