<h1>Customer Information</h1>

<ul>


  <li>First Name::<%= @rental.customer.first_name %></li>
  <li>Last Name::<%= @rental.customer.last_name %></li>
  <li>Country::<%= @rental.customer.country %></li>
  <li>City::<%= @rental.customer.city %></li>
  <li>Age::<%= @rental.customer.age %></li>



 </ul>
