<form  action="/customers" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" value="<%=@customer.first_name%>">
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" value="<%=@customer.last_name%>">
  <label for="country">Country:</label>
  <input type="text" id="country" name="country" value="<%=@customer.country%>">
  <label for="city">City:</label>
  <input type="text" id="city" name="city" value="<%=@customer.city%>">
  <label for="age">Age:</label>
  <input type="text" id="age" name="age" value="<%=@customer.age%>">
  <input type="submit" value="Update">

</form>
