<form  action="/customers" method="post">

  <label for="first_name"><p>First Name:</p></label>
  <input type="text" id="first_name" name="first_name" value="<%=@customer.first_name%>"required>
  <label for="last_name"><p>Last Name:</p></label>
  <input type="text" id="last_name" name="last_name" value="<%=@customer.last_name%>"required>
  <label for="country"><p>Country:</p></label>
  <input type="text" id="country" name="country" value="<%=@customer.country%>"required>
  <label for="city"><p>City:</p></label>
  <input type="text" id="city" name="city" value="<%=@customer.city%>"required>
  <label for="age"><p>Age:</p></label>
  <input type="text" id="age" name="age" value="<%=@customer.age%>"required>
  <input type="submit" value="UPDATE">

</form>
